@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

*
{
    margin:0px;
    padding: 0px;
}

.body{
    padding-right: 125px;
    padding-left:  125px;
    /* border:1px solid darkmagenta */
}

.navbar,.footter_nav
{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom:40px;
}
.nav_Elements
{
    display: flex;
    align-items: center;
font-family: 'Antic', sans-serif;}
.nav_name
{
    font-size: 25px;
    font-family: 'Antic', sans-serif;
    color:#333D4B;
    letter-spacing: 10px;
}
.elements
{
    text-decoration: none;
    color: #67706D;
    margin-left: 43px;
    font-size: 14px;
    font-family: 'Antic', sans-serif;    font-weight: 600;
}
.elements:hover
{
    color: black;
}
.main
{
    /* border: 1px solid black; */
    height:auto;
}
.poster
{
    /* border: 1px solid red;  */
    margin-bottom: 130px;

}
.poster img
{
    width:1265px; 
    height: 650px;
    border-radius: 20px;
}
.poster_detail
{
    position: absolute;
    width:500px;
    margin-left: 90px;
    margin-top: 100px; 
    margin-bottom: 100px;
}
.poster_detail h2{
    color:black; 
    font-size:40px;
    font-family: 'Antic', sans-serif;    
}
.poster_detail p{
    color:black;
    font-size:17.5px; 
    padding-top: 25px;
    font-family: 'Antic', sans-serif; 
    font-weight: lighter;
}
.poster_button
{
    width:180px;
    padding: 15px;
    border-radius:7px;
    background-color: black;
    color:white;
    font-size: 18px;
    border: 0px;
    margin-top:50px;
    font-family: 'Antic', sans-serif;
    font-weight: 600;
}
.poster_button:hover
{
    color: black;
    background-color: gray;
}

.product_contan
{
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
    justify-content: space-between;
    margin-bottom: 50px;
}
.web
{
    width:600px;
    height: 595px;
    /* border:1px solid black; */
    filter: grayscale(100%);
    cursor: pointer;
}
.web:hover{
    filter:none;
}
.web img
{
    width:600px;
    height: 595px;
    border-radius: 15px;
}

.web_text 
{   display: flex;
    height: 595px;
    width:600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:absolute;
}
.app_text
{
    display: flex;
    height: 280.5px;
    width:600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:absolute;

}
.web_text a, .app_text a
{
    text-decoration: none;
    /* color: rgba(242, 0, 255, 0.421); */
    padding-top: 15px;
    color:white;
    font-family: 'Antic', sans-serif;
}
.web_text h2 , .app_text h2{
    color: white;
    font-family: 'Antic', sans-serif;
}
.web_text a svg , .app_text a svg
{
    fill:orangered;
    width:5px;
    padding-left: 5px;
}
.app_graphic
{
    width:600px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid orangered; */
    justify-content: space-between;

}
.app,.graphic
{
    height: 280.5px;
    /* border: 1px solid darkblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    filter: grayscale(100%);
}
.app img,.graphic img{
    width:600px;
    height: 280.5px;
    border-radius: 15px;
}
.app:hover{
    filter: none;
}
.graphic:hover{
    filter: none;
}
.detail
{
    /* border: 1px solid darkgoldenrod; */
    display: flex;
    flex-direction: column;
    margin-top:160px;
}
.detail_contanier
{
    /* border: 1px solid darkorange; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.passionate_contanier,.resourceful_contanier,.friendly_contanier
{
    /* border: 1px solid darkcyan; */
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    text-align: center;
}
.passionate_img
{
    /* border: 1px solid darkmagenta; */
    width:310px;
}
.passionate_img img{
    width:310px;
    height:300px;
    border-radius: 50%;
}
.passionate_text h2
{
    letter-spacing: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Antic', sans-serif;
}
.passionate_text p{
    font-family: 'Antic', sans-serif;
}
.tolk
{
    /* border: 1px solid darkgrey; */
    display: flex;
    flex-direction: column;
    background: url(./img/tolk_background_img.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 260px;
    border-radius: 10px;
    position: relative;
    top:120px

}   
.tolk_contanier
{
    /* border: 1px solid darkolivegreen; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 260px;
}
.tolk_text
{
    width: 32%;
}
.tolk_text h2{
    color: white;
    font-size: 44px;
    word-spacing: 8px;
    padding-bottom: 25px;
    font-family: 'Antic', sans-serif;
}
.tolk_text p
{
    color: white;
    font-family: 'Antic', sans-serif;
}
.tolk_button
{
    width:30%;
}
.tolk_button button
{
    float: right;
    width:150px;
    padding: 17px;
    background-color: white;
    border-radius: 5px;
    border: 0;
    font-family: 'Antic', sans-serif;
}
.footter
{
    border:1px solid darkkhaki;
    background-color: #1D1D1F;
}
.footter_contanier
{
    border: 1px solid darkred;
    padding-right: 125px;
    padding-top: 100px;
    padding-left:  125px;
}
.footter_contanier hr
{
    border-top :0 none white ;
}
.footter_description
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 30px;
}
.office_Add,.contact
{
    color: white;
    width:300px;
    font-family: 'Antic', sans-serif;
}
.media
{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-evenly;
}